<!-- <li><a routerLink="/musiclist">List of Music</a></li>
<li><a routerLink="/editmusic">Edit Music</a></li>
<li><a routerLink="/addmusic">Add Music</a></li> -->
<!-- <nav class="nav ">
    <a class="nav-link " routerLink="/musiclist">List of Music</a>
    <a class="nav-link" routerLink="/editmusic">Edit Music</a>
    <a class="nav-link" routerLink="/addmusic">Add Music</a>
  </nav> -->
<!-- <nav class="navbar navbar-expand-lg">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/musiclist">List of Music</a>
        </li>
        
        <li class="nav-item ">
          <a class="nav-link" routerLink="/addmusic">Add Music</a>
        </li>
      </ul>
    
  </nav> -->