<!DOCTYPE html>
<section>
    <!-- <button mat-raised-button>Basic</button> -->
    <p ngNonBindable>{{ [1,2,3,4,5,6] | slice:1:3 }}</p> (1)
    <p>{{ [1,2,3,4,5,6] | slice:1:3 }}</p>
    <!-- <app-add-music></app-add-music> -->
    <!-- <app-edit-music></app-edit-music> -->
    <div class="container">
        <h1>Top Rated</h1>
        <button (click)="buttonClicked()">{{buttonName}}</button>
    Enter Playlist:<input [(ngModel)]='playlist'><br>
    {{playlist}}
        <table class="table table-stripped" *ngIf="musiclist && musiclist.length">
        
<thead>
   
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Singer</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Release Date</th>
        <th scope="col">Action</th>
        <th scope="col">Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor ="let music of musiclist|srch:playlist">
        <td><a [routerLink]='["/detail/",music.mId]'>{{music.mId}}</a></td>
        <td>{{music.mName}}</td>
        <td>{{music.singer|cts}}</td>
        <td>{{music.rating|currency:'INR'}}</td>
        <td><img *ngIf="showImage" [src]=music.album height="30px" width="30px"></td>
        <td>
            
            <mat-icon (click)="play(music.song)"> play_arrow </mat-icon>
            <mat-icon (click)="pause(music.song)"> pause </mat-icon>
            <mat-icon (click)="stop()"> stop </mat-icon>
             
           
        </td>
        
            <td>{{music.ReleaseDate | date:'dd/MM/yy'}}</td>
            <td><a [routerLink]='["/editmusic/",music.mId]'>Edit</a></td>
            <td><button  (click)="navigation(music.mId)">Delete</button></td>
          </tr>
</tbody>
    </table>


    <!-- <table mat-table [dataSource]="musiclist" class="mat-elevation-z8">

        
        <ng-container matColumnDef="Id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let music"> {{music.mId}} </td>
        </ng-container>
      
      
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let music"> {{music.mName}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Singer">
          <th mat-header-cell *matHeaderCellDef> Singer </th>
          <td mat-cell *matCellDef="let music"> {{music.singer|cts}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Rating">
          <th mat-header-cell *matHeaderCellDef> Rating </th>
          <td mat-cell *matCellDef="let music"> {{music.rating|currency:'INR'}} </td>
        </ng-container>
      
        <ng-container >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let music"><img *ngIf="showImage" [src]=music.album height="30px" width="30px"></td> 
          </ng-container>

          <ng-container >
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let music">  <mat-icon (click)="play(music.song)"> play_arrow </mat-icon>
                <mat-icon> pause </mat-icon>
                <mat-icon (click)="stop()"> stop </mat-icon></td>
          </ng-container>

          <ng-container matColumnDef="Release Date">
            <th mat-header-cell *matHeaderCellDef> Release Date </th>
            <td mat-cell *matCellDef="let music">{{music.ReleaseDate | date:'dd/MM/yy'}} </td>
          </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
       -->
      
</div>
</section>
